<ion-view view-title="PageTwo">
  <ion-nav-buttons side="left"></ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button translate class="button" ng-click="vm.addMessage()">
      <h1>add</h1></button>
    <button translate class="button" ng-click="vm.findAll()">
      <h1>刷新</h1></button>
  </ion-nav-buttons>

  <div ng-if="vm.activated">
    <ion-content class="padding">

      <div class="padding text-center" ng-if="!vm.message.length">
        You have no message .
      </div>

      <ion-list show-delete="false">
        <ion-item item-height="62px" item-width="100%" collection-repeat="response in vm.message| orderBy : '-createdDate'">
          <div>
            <div class="fioat:left">{{response.content}}</div>
            <div class="float:right">{{response.createdDate| date:'yyyy年MM月dd日 hh:mm:ss' }}</div>
            <ion-option-button class="button-positive" ng-click="vm.goEdit()">Edit</ion-option-button>
            <ion-option-button class="button-assertive" ng-click="vm.deleteMessage(response)">Delete</ion-option-button>
          </div>
        </ion-item>
      </ion-list>


    </ion-content>
  </div>
</ion-view>
